* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "FuturaNow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: white;
}

@media (min-width: 810px) {
  body {
    padding: 2rem;
  }
}

.carousel-wrapper {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}

@media (min-width: 810px) {
  .product-card {
    max-width: 980px;
  }
}

@media (min-width: 1440px) {
  .product-card {
    max-width: 1320px;
  }
}

.carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  position: relative;
  scrollbar-width: none;
}

.carousel-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.product-card {
  scroll-snap-align: start;
  flex: 0 0 100%;
  padding: 1rem;
  text-align: center;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

@media (min-width: 750px) {
  .product-card {
    flex: 0 0 50%;
  }
}

@media (min-width: 810px) {
  .product-card {
    flex: 0 0 33.33%;
  }
}

.product-card img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
  flex-basis: 0;
}

.product-card img.loading {
  visibility: hidden;
}

@media (min-width: 750px) {
  .product-card img {
    max-width: 100%;
  }
}

@media (min-width: 810px) {
  .product-card img {
    max-width: 150px;
  }
}

.product-brand {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 15px;
  color: rgb(30, 30, 30);
}

.product-title {
  font-weight: 400;
  margin-top: 0.25rem;
  color: rgb(0, 0, 0);
}

.product-title:hover {
  text-decoration: underline;
}

.product-price {
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 0.25rem;
  color: rgb(30, 30, 30);
}

.product-card a {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#prev-btn,
#next-btn {
  width: 16px;
  height: 44px;
  background: transparent no-repeat center / contain;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 22px);
  opacity: 0;
}

#prev-btn {
  left: 24px;
  background-image: url(../icons/arrow-left.svg);
}

#next-btn {
  right: 24px;
  background-image: url(../icons/arrow-right.svg);
}

#prev-btn:focus,
#next-btn:focus {
  -webkit-tap-highlight-color: transparent;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
